PROJECT_NAME=<project name>
ADMIN_USER=<admin name>
ADMIN_EMAIL=<admin email address>
DB_NAME=<database name>
DB_USER=<database username>
DB_PASSWORD=<database password>
ZAPPA_DEPLOYMENT_TYPE=<dev|prod> 
DJANGO_SECRET_KEY=<50 character alphanumeric Django secret key>
AWS_ACCESS_KEY_ID=<aws access key>
AWS_SECRET_ACCESS_KEY=<aws secret access key>
AWS_STORAGE_BUCKET_NAME=<aws storage bucket name>
AWS_RDS_HOST=<aws rds hostname>
AWS_LAMBDA_HOST=<aws lambda hostname>
